@using AzureTableStorageApp.Models;

@model List<Student>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Get</title>
    <style>
        a {
            color: blue;
        }

        td, th {
            padding: 5px;
        }
    </style>
</head>
<body>
    <div>
        <a href="@Url.Action("Index", "Home")" style="color:green; font-size:14pt;">Add New Data</a>
    </div>
    <div>
        <table border="1">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Department</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Student StudentObj in Model)
                {
                    <tr>
                        <td>@StudentObj.Name</td>
                        <td>@StudentObj.Department</td>
                        <td>@StudentObj.Email</td>
                        <td>
                            @if (!StudentObj.IsActive)
                            {
                                <text> <span style="color:red;">Inactive</span> </text>
                            }
                            else
                            {
                                <text> <span style="color:green;">Active</span> </text>
                            }
                        </td>
                        <td>
                            <span>@Html.ActionLink("Edit", "UpdateStudent", "Home", new { id = StudentObj.RowKey }, new { })</span>
                            ||
                            <span>@Html.ActionLink("Change Status", "ChangeStatus", "Home", new { id = StudentObj.RowKey, Status = StudentObj.IsActive }, new { })</span>
                            ||
                            <span>@Html.ActionLink("Delete", "Delete", "Home", new { id = StudentObj.RowKey }, new { })</span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
